@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* ROOT VARIABLES */ /* ROOT VARIABLES */
/* ROOT VARIABLES */ /* ROOT VARIABLES */

:root{
    --color-white:hsl(252, 30%, 100%);
    --color-light:hsl(252, 30%, 95%);
    --color-gray:hsl(252, 15%, 65%);
    --color-primary:hsl(252, 75%, 60%);
    --color-secondary:hsl(252, 100%, 17  90%);
    --color-success:hsl(120, 95%, 65%);
    --color-danger:hsl(0, 95%, 67%);
    --color-dark:hsl(252, 30%, 17%);
    --color-black:hsl(252, 30%, 10%);


    --sticky-top-left:5.4rem;
    --sticky-top-right:-18rem;



    --border-radius:2rem;
    --card-border-radius:1rem;
    --btn-padding:0.6rem 2rem;
    --search-padding:0.9rem 1rem;
    --card-padding:1rem;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Work Sans';
    color: var(--color-dark);
    background: var(--color-white);
    overflow-x: hidden;
    position: relative;
}


/* GENERAL STYLES */ /* GENERAL STYLES */
/* GENERAL STYLES */ /* GENERAL STYLES */


.container{
    /* width: 95%; */
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/********************** CONTAINER **********************/



/********************** NAVBAR **********************/

nav{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}
nav .logo{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 3rem;
    margin-left: 50px;
}


nav .access{
    margin-right: 80px;
    display: flex;
    align-items: center;
}

nav .access select{
    width: 50px;
    background-color: transparent;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
}
nav .access select option{
    width: 100px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

nav .access a i{
    font-size: 45px;
    margin: 0;
    color: var(--color-gray);
}



/********************** FORM CONTAINER **********************/

.main__con{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    background-color: white;
}
.form__container{
    width: 40%;
    height: 100%;
    background-color: transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.185);
}

.form__container h1{
    font-weight: 600;
    margin-top: 30px;
}

.form__container form{
    width: 75%;
    height: 80%;
    background-color: white;
}
.form__container form .label__con{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.form__container form .label__con label{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
}
.form__container form .label__con input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid rgba(128, 128, 128, 0.425);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: black;
}
.form__container form .label__con input:focus{
    border: 2px solid var(--color-primary);
}

.form__container .requirements__con{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.form__container .requirements__con .requirements__inner{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
}

.form__container .requirements__con .requirements__inner .requirements{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: transparent;
}
.form__container .requirements__con .requirements__inner .requirements li{
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    list-style: disc;
}
.form__container .requirements__con .requirements__inner .requirements .dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-right: 5px;
}

form .check__con{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}


/* Hide the default checkbox */
form .check__con input[type="checkbox"] {
    display: none;
  }
  
  /* Style the custom checkbox */
  form .check__con .label__box {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  form .check__con label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  form .check__con .label__box:after {
    content: "";
    display: none;
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    color: var(--color-primary);
  }
  
  /* Style the checkbox when checked */
  form .check__con input[type="checkbox"]:checked + label:after {
    display: block;
  }



form .check__con .check__box label{
    font-size: 12px;
}


.account a{
    color: var(--color-primary);
}

form .button__con{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .button__con button{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-primary);
    font-size: 20px;
    font-weight: 500;
    color: white;
}
form .button__con button:hover{
    opacity: 0.9;
}


.line__con{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.line__con .line{
    width: 47%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.534);
}

.line__con p{
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin: 0 10px;
}


form .additional__buttons__con a .additional__button{
    width: 100%;
    height: 49px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.534);
    background-color: transparent;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
form .additional__buttons__con a .additional__button:hover{
    background-color: rgba(128, 128, 128, 0.233);
}

form .additional__buttons__con a .facebook{
    height: 50px;
    background-color:#1d51b9;
    border: none;
    color: white;
}
form .additional__buttons__con a .facebook:hover{
    opacity: 0.9;
    background-color: #1d51b9;
}

form .additional__buttons__con a .additional__button p{
    margin: 0;
}
form .additional__buttons__con a .additional__button img{
    margin: 0;
    width: 22px;
    margin-right: 10px;
}
form .additional__buttons__con a .additional__button .bxl-facebook-circle{
    margin: 0;
    margin-right: 10px;
    color: white;
    font-size: 30px;
}
form .additional__buttons__con a .additional__button .bxl-github{
    margin: 0;
    margin-right: 10px;
    color: black;
    font-size: 30px;
}


form .terms{
    font-size: 11.2px;
    margin-top: 20px;
}
.main__con .credits{
    font-size: 11px;
    margin-top: 30px;
}

  

/***************** HELP *************/

.help{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--color-primary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 90;
}

.help:hover{
    opacity: 0.9;
}
.help i{
    font-size: 25px;
    margin-right: 5px;
    color: white;
}
.help p{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: white;
}

