@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* ROOT VARIABLES */ /* ROOT VARIABLES */
/* ROOT VARIABLES */ /* ROOT VARIABLES */

:root{
    --color-white:hsl(252, 30%, 100%);
    --color-light:hsl(252, 30%, 95%);
    --color-gray:hsl(252, 15%, 65%);
    --color-primary:hsl(252, 75%, 60%);
    --color-secondary:hsl(252, 100%, 17  90%);
    --color-success:hsl(120, 95%, 65%);
    --color-danger:hsl(0, 95%, 67%);
    --color-dark:hsl(252, 30%, 17%);
    --color-black:hsl(252, 30%, 10%);


    --sticky-top-left:5.4rem;
    --sticky-top-right:-18rem;



    --border-radius:2rem;
    --card-border-radius:1rem;
    --btn-padding:0.6rem 2rem;
    --search-padding:0.9rem 1rem;
    --card-padding:1rem;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Work Sans';
    color: var(--color-dark);
    background: var(--color-white);
    overflow-x: hidden;
}


/* GENERAL STYLES */ /* GENERAL STYLES */
/* GENERAL STYLES */ /* GENERAL STYLES */


.container{
    /* width: 95%; */
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/********************** CONTAINER **********************/



/********************** NAVBAR **********************/

nav{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.09);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}
nav .logo{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 3rem;
    margin-left: 50px;
}

nav .nav__list{
    height: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav .nav__list .nav__items{
    font-family: 'Work Sans';
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.79);

}

nav .nav__list .nav__items:hover{
    color: black;
    font-weight: 600;
    transition: all 300ms ease;

}
nav .nav__list .active{
    margin-right: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}

nav .access{
    margin-right: 50px;
}

nav .access select{
    width: 50px;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
}
nav .access select option{
    width: 100px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

nav .access a{
    font-family: 'Work Sans';
    font-weight: 500;
    background-color: transparent;
    color: var(--color-primary);
    border-radius: 30px;
    padding: var(--btn-padding);
    border: 2px solid var(--color-primary);
    margin-right: 10px;
}

nav .access a:hover{
    background: var(--color-primary);
    color: white;
    transition: all 300ms ease;
}

nav .access .sign__in{
    background: var(--color-primary);
    color: white;
    margin-right: 0px;
}
nav .access .sign__in:hover{
    border: 2px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
    transition: all 300ms ease;
}


nav .access i{
    font-size: 40px;
    color: black;
    display: none;
}



/********************** HERO SECTION **********************/


.hero__section{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10vh;
}

/********************** CONTENT **********************/

.hero__section .content{
    width: 50%;
    height: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero__section .content h4{
    width: fit-content;
    padding: 3px 13px;
    background-color: #00DEFE;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 0;

}
.hero__section .content h1{
    font-weight:700;
    margin-left: 50px;
    margin-top: 0;
}
.hero__section .content .description{
    font-size: 18px;
    margin-left: 50px;
}
/********************** TESTIMONIAL **********************/

.image__con .glide {
    display: none;
  }
.content .glide {
    margin-left: 50px;
    margin-top: 60px;
    padding: 0;
    width: 70%;
    height: 300px;
    overflow: hidden;
    background-color: white;
  }
  .content .glide .testimonial{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;
  }

.content .glide .testimonial .ratings{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
}
.content .glide .testimonial .ratings i{
    font-size: 20px;
    color: #D8BA1B;
}

.content .glide .testimonial .quote{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0;
}
.content .glide .testimonial .name__profession p{
    margin: 0;
}
.content .glide .testimonial .name__profession h5{
    margin: 0;
}

/********************** NEWSLETTER **********************/

.hero__section .content .input__dec{
    width:400px;
    height: 60px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 3px 3px 50px rgba(107, 76, 230, 0.308);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 0px;
}

.content .input__dec i{
    font-size: 45px;
}
.content .input__dec form{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .input__dec input{
    width: 220px;
    height: 45px;
    background-color:transparent;
    margin: 0;
    padding-left: 20px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.808);
    margin-left: 10px;
    margin-right: 10px;
}
.content .input__dec input::placeholder{
    font-size: 20px;
    font-weight: 300;
    color: black;
}

.content .input__dec button{
    width: 100px;
    height: 46px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 400;
    font-size: 22px;
    border-radius: 10px;
    margin: 0;
}
.content .input__dec button:hover{
    opacity: 0.9;
}

/********************** IMAGE **********************/

.hero__section .image__con{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero__section .image__con img{
    width: 580px;
    margin-left: 30px;
}


/* SECTION SEVEN (FOOTER) */
/* SECTION SEVEN (FOOTER) */
/* SECTION SEVEN (FOOTER) */
/* SECTION SEVEN (FOOTER) */
/* SECTION SEVEN (FOOTER) */

footer{
    width: 100%;
    height: 40vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


footer .about{
    width: 25%;
    height: 80%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
footer .about h1{
    font-size: 40px;
    color: var(--color-primary);
    margin-left: 30px;
    margin-bottom: 0;
    margin-left: 50px;
    font-weight: 600;
}
footer .about p{
    font-size: 14px;
    margin-left: 50px;
}

footer .sitemap{
    width: 25%;
    height: 80%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer .sitemap h1{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

footer .sitemap ul{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .sitemap ul li{
    color: var(--color-primary);
    list-style-type: disc;
}
footer .sitemap ul li:hover{
    color: var(--color-primary);
}

footer .sitemap ul li:hover a{
    color: var(--color-primary);
}
footer .sitemap a{
    text-decoration: none;
    font-weight: 400;
    color: black;
}

footer .sitemap .active{
    color: var(--color-primary);
}
footer .sitemap__socials h1{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

footer .sitemap__socials{
    width: 25%;
    height: 80%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer .sitemap__socials ul{
    height: 50%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content:center ;
    list-style: none;
    font-size: 40px;
    padding: 0;
    
}

footer .sitemap__socials .socials a{
    color: var(--color-primary);
    font-size: 30px;
    margin-right: 20px;
    margin-top: 0;
}

footer .sitemap__socials i:hover{
    color: var(--color-primary);
}




@media screen and (min-width:320px) and (max-width:599px){
    
/********************** NAVBAR **********************/

nav{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.09);
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0;


}
nav .logo{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 2rem;
    margin-left: 20px;
}

nav .nav__list{
    position: absolute;
    top: 100%;
    right: 0%;
    width: 100%;
    height: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
}

.nav__list.open{
    display: block;
    height: 400px;
    top: 100%;
    right: 0%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.7s ease;
}


nav .nav__list .nav__items{
    font-family: 'Work Sans';
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.79);

}

nav .nav__list .nav__items:hover{
    color: black;
    font-weight: 600;
    transition: all 300ms ease;

}
nav .nav__list .active{
    margin-right: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}

nav .access{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav .access select{
    display: none;
}
nav .access select option{
    width: 100px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

nav .access a{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    color: var(--color-primary);
    border-radius: 30px;
    padding: 5px 15px;
    border: 2px solid var(--color-primary);
    margin-right: 0px;
}

nav .access .sign__in{
    display: none;
}


nav .access i{
    font-size: 35px;
    color: black;
    display: none;
    cursor: pointer;
}




/********************** HERO SECTION **********************/


.hero__section{
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 30px;
}

/********************** CONTENT **********************/
.hero__section .content{
    width: 95%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.hero__section .content h4{
    width: fit-content;
    padding: 3px 10px;
    background-color: #00DEFE;
    border-radius: 30px;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    margin: 0;
    text-align: center;

}
.hero__section .content h1{
    font-weight:700;
    font-size: 23px;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.hero__section .content .description{
    font-size: 16px;
    margin-left: 0px;
    text-align: center;
}
/********************** TESTIMONIAL **********************/
.content .glide {
    display: none;
  }

.image__con .glide {
    margin: 0;
    margin-left: 0px;
    margin-top: 30px;
    padding: 0;
    width: 90%;
    height: 100px;
    overflow: hidden;
    background-color: transparent;
    display: block;
  }
  .image__con .glide .testimonial{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: transparent;
  }

.image__con .glide .testimonial .ratings{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
}
.image__con .glide .testimonial .ratings i{
    font-size: 16px;
    color: #D8BA1B;
}

.image__con .glide .testimonial .quote{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.image__con .glide .testimonial .name__profession p{
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: black;
}
.image__con .glide .testimonial .name__profession h5{
    margin: 0;
    font-size: 16px;
    text-align: center;
}

/********************** NEWSLETTER **********************/

.hero__section .content .input__dec{
    width:300px;
    height: 50px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 1px 1px 40px rgba(107, 76, 230, 0.164);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 30px;
}

.content .input__dec i{
    font-size: 35px;
}
.content .input__dec form{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .input__dec input{
    width: 150px;
    height: 35px;
    background-color:transparent;
    margin: 0;
    padding-left: 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.808);
    margin-left: 10px;
    margin-right: 10px;
}
.content .input__dec input::placeholder{
    font-size: 12px;
    font-weight: 300;
    color: black;
}

.content .input__dec button{
    width: 80px;
    height: 36px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
    margin: 0;
}
.content .input__dec button:hover{
    opacity: 0.9;
}

/********************** IMAGE **********************/

.hero__section .image__con{
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__section .image__con img{
    width: 310px;
    margin-left: 0px;
}


/* SECTION SEVEN (FOOTER) */
/* SECTION SEVEN (FOOTER) */
/* SECTION SEVEN (FOOTER) */
/* SECTION SEVEN (FOOTER) */
/* SECTION SEVEN (FOOTER) */

footer{
    width: 100%;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 30px;
}


footer .about{
    width: 80%;
    height: 25%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 30px;
}
footer .about h1{
    font-size: 25px;
    color:var(--color-primary);
    margin-left: 30px;
    margin-bottom: 0;
    margin-left: 0px;
}
footer .about p{
    font-size: 14px;
    margin-left: 0;
}

footer .sitemap{
    width: 100%;
    height: 25%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 30px;
}

footer .sitemap h1{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

footer .sitemap ul{
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background: white;
    list-style: disc;
    padding: 15px;
}

footer .sitemap ul li{
    color: var(--color-primary);
    margin-left: 0px;
    font-size: 14px;
}
footer .sitemap ul li:hover{
    color: var(--color-primary);
}
footer .sitemap ul li a{
    color: black;
}
footer .sitemap ul li:hover a{
    color: var(--color-primary);
}
footer .sitemap a{
    text-decoration: none;
    font-weight: 400;
    color: var(--color-primary);
}

footer .sitemap .active{
    color: var(--color-primary);
    padding: 0;
}
footer .sitemap__socials h1{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

footer .sitemap__socials{
    width: 80%;
    height: 25%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 30px;
}

footer .sitemap__socials ul{
    height: 50%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start ;
    list-style: none;
    font-size: 40px;
    padding: 0;
    
}

footer .sitemap__socials .socials a{
    color: var(--color-primary);
    font-size: 20px;
    margin-right: 20px;
    margin-top: 0;
}

footer .sitemap__socials i:hover{
    color: var(--color-primary);
}
}


  
  